:root {
  --color-primary: #beceb7;
  --color-accent: #7e9d70;
  --color-accent-2:#9EB694;
  --color-background: #dee6db;
  --color-font: #798f70;
  --color-red: #d1635f;
  --color-green: #658159;
  --color-purple:#8f709d;
  --color-blue: #707e9d;
  --color-orange: #c87e4e;
  --color-grey: #868686;
}

body{
	background-color: var(--color-background);
	color: var(--color-font);
}

header{
  background-color: var(--color-background);
}

footer{
	color: var(--color-font)
}

footer a{
	color: var(--color-accent)
}

h1{
  color: var(--color-accent);
}

/* FIELDSET */

legend {
  text-transform: uppercase;
	font-weight: bold;
}

/* OLIVETIN BUTTONS */

button {
	background-color: var(--color-primary);
	border: none;
	color: var(--color-font);
	font-weight: bold;
	text-transform: uppercase;
}

action-button button {
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.3);
}

button:hover {
  color: var(--color-font);
  background-color: var(--color-accent-2);
  border: 3px solid var(--color-accent);
}

action-button button:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

button:focus {
	border: 3px solid var(--color-accent);
  outline: none;
}

action-button button:focus{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

div.display{
	background-color: var(--color-primary);
	border: 3px solid var(--color-accent);
	color: var(--color-font);
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.2);
}

div.display > strong{
  color: var(--color-accent);
}

span.icon{
	color: var(--color-accent);
}

/* NAVBAR */

nav.sidebar{
	box-shadow: 0px 4px 5px 3px rgba(0,0,0,0.2);
	background-color: var(--color-primary);
	color: var(--color-font);
	font-weight: bold;
	text-transform: uppercase;
}

nav.sidebar a{
	color: var(--color-font);
}

nav.sidebar ul li {
  border-bottom: none;
}

nav.sidebar ul li a:hover{
	background-color: var(--color-accent);
	color: var(--color-primary);
}

nav ul li a:focus{
	background-color: var(--color-accent);
	color: var(--color-primary);
  outline: 0;
}

nav ul li a.selected {
  background-color: var(--color-accent);
	color: var(--color-primary);
}

#sidebar-toggler-button{
	color: var(--color-background);
  background-color: var(--color-accent);
  border: none;
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.2);
	border-radius: 10%;
}

#sidebar-toggler-button:hover, #sidebar-toggler-button:focus {
	color: var(--color-accent);
  background-color: var(--color-background);
  outline: 3px solid var(--color-accent);
}

h1 a, h1 a:visited{
	color: var(--color-font);
	font-weight: bold;
	text-decoration: none;
}

a:focus {
  color: var(--color-background);
  background-color: var(--color-accent);
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-accent);
  border-radius: 2px;
}

/* POPUPS */

form div.wrapper{
  background-color: transparent;
}

#argument-popup{
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-radius: 25px;
}

#execution-results-popup{
	background-color: var(--color-primary);
  color: var(--color-accent);
  border-radius: 25px;
}

pre#execution-dialog-stdout{
	border: 1px solid var(--color-accent);
}

select {
	background-color: var(--color-accent);
	border: none;
	color: var(--color-background);
}

/* START BUTTON */

input[name=start], button[name=kill], button[name=Cancel], #execution-dialog-toggle-size{
  color: var(--color-background);
  background-color: var(--color-accent);
  font-weight: bold;
	text-transform: uppercase;
  border: 0px;
  border-radius: 5px;
  box-shadow: none;
}

input[name="start"]:hover, input[name="start"]:focus{
  color: var(--color-background);
  background-color: var(--color-green);
  transition: none;
  outline: 3px solid var(--color-accent);
  box-shadow: none;
}

/* DISABLED BUTTON */

button:disabled, input[type="submit"]:disabled, button#searchLogsClear:disabled{
  color: var(--color-background);
  background-color: var(--color-grey);
  box-shadow: none;
}

/* CANCEL BUTTON */

button[name="cancel"]{
  color: var(--color-background);
  background-color: var(--color-accent);
  border-radius: 5px;
  box-shadow: none;
}

button[name="cancel"]:hover, button[name="cancel"]:focus, button[name=kill]:hover,button[name=kill]:focus, button[name=Cancel]:hover, button[name=Cancel]:focus{
  color: var(--color-background);
  background-color: var(--color-red);
  transition: none;
  outline: 3px solid var(--color-accent);
  box-shadow: none;
}

/* LOGS */

div.toolbar{
	background-color: var(--color-background);
	border: none;
}

table{
	background-color: var(--color-background);
	color: var(--color-primary);
	border: none;
	box-shadow: none;
}

tr.log-row:nth-child(odd) {
	background-color: var(--color-background);
	color: var(--color-primary);
	border: none;
}
tr.log-row:nth-child(even), tr {
	background-color: var(--color-primary);
	color: var(--color-font);
	border: none;
}

tr:hover td{
	background-color: var(--color-font);
	color: var(--color-background);
}

tr:hover td a{
	color: var(--color-background);
}

tr:hover td span.icon{
	color: var(--color-background);
}

td, th{
	background-color: transparent;
	border: none;
	color: var(--color-font);
	box-shadow: none;
}	

td a{
	color: var(--color-accent);
}	

input {
	background-color: var(--color-background);
	color: var(--color-font);
  font-weight: bold;
	border: 1px solid #cdcdcd;
	border-color: rgba(178, 128, 126, .7);
  outline: 1px solid var(--color-accent);
}

input:focus { 
  outline: 2px solid var(--color-accent);
}

.box-shadow p {
  background-color: var(--color-primary);
  color: var(--color-font);
}

/* LOGS SEARCH */

label.input-with-icons{
  background-color: var(--color-background);
  border: none;
  gap: 0.5em; 
}

label.input-with-icons svg{
  color: var(--color-background);
  background-color: var(--color-accent);
  border-radius: 50%;
  padding: 0.1em;
}

input#logSearchBox{
	background-color: var(--color-primary);
	color: var(--color-font);
	border: none;
	border-color: rgba(178, 128, 126, .7);
	border-radius: 50px;
  outline: 1px solid var(--color-accent);
}

button#searchLogsClear{
	background-color: var(--color-accent);
	color: var(--color-primary);
	font-weight: 900;
	border-radius: 15px;
}

button#searchLogsClear svg{
  color: var(--color-background);
	background-color: transparent;
}

button#searchLogsClear:hover, button#searchLogsClear:focus{
  color: var(--color-primary);
	background-color: var(--color-red);
	font-weight: 900;
	border-radius: 15px;
  outline: none;
}

button#searchLogsClear:disabled{
  color: var(--color-surface-2);
	background-color: var(--color-background);
	font-weight: 900;
	border-radius: 15px;
  border-color: var(--color-surface-2);
}

::placeholder{
	color: transparent;
}

/* STATUS INFO*/

.action-failed {
  color: var(--color-background);
  background-color: var(--color-red);
}

.action-success {
  color: var(--color-background);
  background-color: var(--color-green);
}

.action-nonzero-exit {
  color: var(--color-background);
  background-color: var(--color-orange);
}

.action-timeout {
  color: var(--color-background);
  background-color: var(--color-blue);
}

.action-blocked {
  color: var(--color-background);
  background-color: var(--color-purple);
}

span.tag{
  color: var(--color-background);
  background-color: var(--color-accent);
}

/* USERNAME */

#link-login > a {
  color: var(--color-font);
  text-decoration: none;
  margin-bottom: 5px;
}

#link-login > a:hover {
  color: var(--color-accent-2);
}

#link-login > a:focus {
  color: var(--color-background);
  background-color: var(--color-accent);
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-accent);
  border-radius: 2px;
}

#link-logout > a {
  color: var(--color-font);
  text-decoration: none;
  margin-bottom: 5px;
}

#link-logout > a:hover {
  color: var(--color-accent-2);
}

#link-logout > a:focus {
  color: var(--color-background);
  background-color: var(--color-accent);
  outline: 0;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-accent);
  border-radius: 2px;
}

span#username {
  color: var(--color-accent);
  font-weight: 600;
}

div.userinfo{
  color: var(--color-font);
  font-size: medium;
}
